body{
  background-color: white;
}


h1{
  margin-top: 0px;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: left;
  margin-left: 10px;
  /*text-decoration: underline;*/
  /*background-color: yellow;*/
}


p{
  font-size: 20px;
  text-align: left;
  font: 'georgia';
  font-family:serif;
}

a {
  /*margin: 20px;*/
}

.logo {
  width: 400px;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}

.nav {
  margin-top: 20px;
  margin-left: 5px;
  float: left;
}

.logo img {
  display: block;
  max-width: 360px;
  background-color: white;
}

.nav h3 {
  text-align: left;
  letter-spacing: 5px;
}

.catalogue{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.catalogue img{
  display: block;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  max-width: 250px;
  border: 3px solid black;
}

.catalogue .info {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  padding-left: 2%;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  width: 250px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.catalogue p{

}

.subscribe{
  background-color: white;
  padding: 10px;
  margin-top: -10px;
}

.subscribe img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 40px;*/
  max-width: 100px;
}

.subscribe.cont{
  margin-left: 10%;
}

.subscribe h2{
  font-family: sans-serif;
  text-align: left;
  margin-left: 20px;
  font-size: 30px;
}

h2.signup{
  font-size: 30px;
  text-align: left;
  margin-bottom: 10px;
}


.subscribe .imgbox{
  border: 6px solid black;
  width: 300px;
  height: 300px;
}

.subscribe p{

}

.info {
  padding: 20px;
  background-color: white;
}

.info img {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  max-width: 150px;
}

.info p {
  text-align: justify;
}



.nav a:link{
  background-color: white;
  color: black;
}

.nav a:visited{
  color: black;
  background-color: white;
}

.nav a:hover{
  background-color: black;
  color: black;
  text-decoration: underline;
}

.nav a:active{
  background-color: black;
  color: white;
  text-decoration: none;
}
