body{
  background-color: white;
}


h1{
  margin-top: 0px;
  font-size: 50px;
  letter-spacing: 5px;
  text-align: left;
  margin-left: 10px;
  /*text-decoration: underline;*/
  /*background-color: yellow;*/
}

h2 {
  font-size: 30px;
  font-weight: 200;
  text-align: left;
}


p{
  font-size: 20px;
  text-align: left;
  font: 'georgia';
  font-family:serif;
}

a {
  /*margin: 20px;*/
}

.logo {
  width: 400px;
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}

.logo img {
  display: block;
  max-width: 360px;
  background-color: white;
}

.nav {
  margin-top: 20px;
  margin-left: 5px;
  float: left;
}

.nav h3 {
  text-align: left;
  letter-spacing: 5px;
}

.catalogue{
  background-color: white;
  padding: 20px;
}

.catalogue img{
  display: block;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: auto;
  max-width: 250px;
  border: 3px solid black;
}

.catalogue .info {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  border-bottom: 3px dashed black;
  border-left: 3px dashed black;
  border-right: 3px dashed black;
  width: 250px;
  padding: 10px;
  padding-bottom: 5px;
  background-color: white;
}

.catalogue p{

}

.info {
  padding: 20px;
}

.info img {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  max-width: 150px;
}

.info p {
  text-align: justify;
}


.nav a:link{
  background-color: white;
  text-decoration: none;
  color: black;
}

.nav a:visited{
  color: black;
  text-decoration: none;
  background-color: white;
}

.nav a:hover{
  background-color: black;
  color: black;
  text-decoration: underline;
}

.nav a:active{
  background-color: black;
  color: white;
  text-decoration: none;
}

a:link{
  background-color: white;
  text-decoration: underline;
  color: black;
}

a:visited{
  color: black;
  font-style: italic;
  background-color: white;
}

a:hover{
  background-color: black;
  color: black;
  text-decoration: underline;
}

a:active{
  background-color: black;
  color: white;
  text-decoration: none;
}

.talltales{

}

.talltales img{
  display: inline-block;
  position: absolute;
  max-width: 80px;
  background-color: white;
  margin-left: 30px;
  margin-top: 30px;
}

.talltales h1{
  text-align: center;
}

.storyform{
  padding: 40px;
  background-color: white;
}

.storyform h2{
  text-align: center;
}
